@model IEnumerable<App.ViewModel.RecipeViewModel>

@{
    ViewBag.Title = "Yummy Recipes";
}

@Html.ActionLink("Post new Recipe","Add",null, new { @class = "btn btn-primary" })

@foreach (var recipe in Model)
{
    <h3>@Html.ActionLink(recipe.Title, "Recipe", new { id = recipe.RecipeId})</h3>
    <p>@Html.DisplayFor(modelItem => recipe.Preparation)</p>
}
